/* What Clients say section */
.content p {
  line-height: 28px;
  margin-bottom: 30px;
}

.content [alt="Client"] {
  height: 70px;
  width: 70px;
}

.swiper-slide-active .content {
  border-top: 3px solid var(--orange);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.swiper-slide-active [alt="Black Shape"] {
  filter: invert(50%) sepia(100%) saturate(400%) hue-rotate(160deg)
    brightness(90%) !important;
}

.swiper-slide:not(.swiper-slide-active) .content {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
