<!-- Hero Section -->
<section class="hero overflow-hidden position-relative">
  <div class="row justify-content-between mt-5">
    <!-- Content -->
    <article class="content col-12 col-lg-6 p-4 text-center z-2 text-lg-start">
      <span class="fs-1 moon-font">Up to 30% Off</span>
      <h1>Get Your New Book <br />With The Best Price</h1>
      <a
        routerLink="/shop"
        (click)="scrollToTop()"
        class="btn btn-main rounded-5 px-5 py-3 mt-4"
        >Shop Now <i class="fa-solid fa-arrow-right-long ms-2"></i
      ></a>
    </article>
    <!-- Image -->
    <figure class="col-12 col-lg-6 mb-0 text-center text-lg-end z-2">
      <img
        src="../../assets/images/home-page/hero-girl.png"
        alt="Hero Girl"
        class="w-100"
      />
    </figure>
  </div>
  <!-- xstar shape -->
  <img
    src="../../assets/images/home-page/xstar.png"
    alt="xstar shape"
    class="position-absolute"
  />
  <!-- Frame Dots -->
  <img
    src="../../assets/images/home-page/frame-2.png"
    alt="Frame Dots"
    class="position-absolute"
  />
  <!-- Top Right Shape (half cyrcle) -->
  <img
    src="../../assets/images/home-page/bg-shape.png"
    alt="Top Shape"
    class="position-absolute top-0 end-0"
  />
  <!-- Frame Arrow that im middle -->
  <img
    src="../../assets/images/frame-arrow-shape.png"
    alt="Frame Arrow"
    class="position-absolute translate-middle-y top-50 z-1"
  />
  <!-- Shape image that in bottom right -->
  <img
    src="../../assets/images/home-page/bg-shape2.png"
    alt="Shape"
    class="position-absolute bottom-0 end-0 z-1"
  />
  <!-- Books image that in bottom left -->
  <img
    src="../../assets/images/book.png"
    alt="Books"
    class="position-absolute bottom-0 start-0 z-1"
  />
  <!-- Bottom Center Shape -->
  <img
    src="../../assets/images/home-page/frame-2.png"
    alt="Frame Dots Bottom"
    class="position-absolute z-1 start-50 translate-middle-x"
  />
</section>
<!-- Features Section  -->
<section class="features p-3">
  <article class="p-3 row rounded-3">
    <!-- Feature -->
    <div class="feature col-12 col-md-6 mb-4">
      <div class="row align-items-center">
        <figure class="col-4 mb-0">
          <i class="fa-solid fa-truck-fast"></i>
        </figure>
        <div class="content col-8 ms-2">
          <h4 class="fw-bold">Return & refund</h4>
          <p class="mb-0">Money back guarantee</p>
        </div>
      </div>
    </div>
    <!-- Feature -->
    <div class="feature col-12 col-md-6 mb-4">
      <div class="row align-items-center">
        <figure class="col-4 mb-0">
          <i class="fa-solid fa-shield-halved"></i>
        </figure>
        <div class="content col-8 ms-2">
          <h4 class="fw-bold">Secure Payment</h4>
          <p class="mb-0">30% off by subscribing</p>
        </div>
      </div>
    </div>
    <!-- Feature -->
    <div class="feature col-12 col-md-6 mb-4 mb-md-0">
      <div class="row align-items-center">
        <figure class="col-4 mb-0">
          <i class="fa-solid fa-headset"></i>
        </figure>
        <div class="content col-8 ms-2">
          <h4 class="fw-bold">Quality Support</h4>
          <p class="mb-0">Always online 24/7</p>
        </div>
      </div>
    </div>
    <!-- Feature -->
    <div class="feature col-12 col-md-6">
      <div class="row align-items-center">
        <figure class="col-4 mb-0">
          <i class="fa-solid fa-tags"></i>
        </figure>
        <div class="content col-8 ms-2">
          <h4 class="fw-bold">Daily Offers</h4>
          <p class="mb-0">20% off by subscribing</p>
        </div>
      </div>
    </div>
  </article>
</section>
<!-- Shop Section (Featured Books) -->
<section class="shop-sec p-3">
  <!-- Head Section -->
  <div class="d-flex justify-content-between">
    <h2 class="fs-1 fw-bold">Featured Books</h2>
    <a
      routerLink="/shop"
      (click)="scrollToTop()"
      class="explore-btn btn rounded-5 me-2"
      >Explore More <i class="fa-solid fa-arrow-right-long ms-2"></i
    ></a>
  </div>
  <!-- Body Section -->
  <swiper-container
    [slidesPerView]="checkSizeOfWindow()"
    [loop]="true"
    [autoplay]="{ delay: 2000, disableOnInteraction: false }"
    autoplay="true"
    speed="1000"
    class="mySwiper mt-5"
  >
    @for (book of books; track book.id) {
    <swiper-slide class="w-fit">
      <!-- Image -->
      <figure
        class="text-center rounded-3 mb-0 bg-body-secondary position-relative p-4 mx-auto"
        style="width: 90%"
      >
        <img
          style="height: 200px"
          [src]="book.volumeInfo.imageLinks.smallThumbnail"
          [alt]="book.volumeInfo.title"
        />
        <!-- Icons -->
        <div class="icons-shop position-absolute">
          <i
            class="fa-regular fa-heart"
            title="Add To Wishlist"
            [id]="book.id"
            (click)="addOrRemoveToWishlist(book.id)"
          ></i>
          <a routerLink="/cart" class="text-black text-decoration-none">
            <i class="fa-solid fa-shuffle"></i>
          </a>
          <i class="fa-regular fa-eye" (click)="navigateToBook(book.id)"></i>
        </div>
      </figure>
      <!-- Content -->
      <div class="content p-3">
        <!-- Category -->
        <p class="text-black-50 fw-medium mb-2">
          {{ book.volumeInfo.categories }}
        </p>
        <!-- Title -->
        <h5
          class="book-title fw-bold"
          style="color: var(--blue)"
          (click)="navigateToBook(book.id)"
        >
          {{ book.volumeInfo.title | slice : 0 : 24 }}
        </h5>
        <!-- Price -->
        <p style="color: var(--orange); font-size: 14px" class="fw-bold">
          {{
            book.saleInfo.listPrice.amount | currency : "EGP" : "symbol-narrow"
          }}
        </p>
        <div class="d-flex justify-content-between">
          <!-- Author -->
          <figure class="author w-fit">
            <img
              src="../../assets/images/publisher-placeholder.jpg"
              alt="Author"
              class="publisher-img rounded-circle me-2"
            />
            @if ( book.volumeInfo.authors) {
            <span>{{ checkTextLength(book.volumeInfo.authors[0]) }}</span>
            } @else {
            <span>Basem Sameh</span>
            }
          </figure>
          <!-- Stars -->
          <div class="ms-auto w-fit" style="color: var(--orange)">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <button
          class="btn add-cart-btn w-100"
          (click)="navigateToBook(book.id)"
        >
          <i class="fa-solid fa-basket-shopping"></i> Add To Cart
        </button>
      </div>
    </swiper-slide>
    }
  </swiper-container>
</section>
<!-- Top Categories Book Section -->
<section class="top-categories position-relative">
  <h2 class="fs-1 fw-bold p-3 mb-0">Top Categories Book</h2>
  <!-- Swiper Container -->
  <div class="swiper-container">
    <swiper-container
      #swiperEl
      [slidesPerView]="checkSizeOfWindow()"
      [loop]="true"
      [speed]="1000"
      class="mySwiper p-4 rounded-5"
    >
      @for (book of booksInTopCategories; track book.id;let i = $index) {
      <swiper-slide class="w-fit">
        <!-- Image -->
        <figure
          class="text-center rounded-circle mb-0 bg-white position-relative mx-auto"
        >
          <img
            style="height: 150px"
            [src]="book.volumeInfo.imageLinks.smallThumbnail"
            [alt]="book.volumeInfo.title"
            class="z-1"
          />
          <!-- Animation Circle -->
          <div class="animation-circle bg-white"></div>
          <!-- Category Number -->
          <h6 class="category-number text-white">0{{ i + 1 }}</h6>
        </figure>
        <!-- Content -->
        <h5 class="p-3 fw-bold text-center" style="color: var(--blue)">
          {{ book.volumeInfo.categories }}
        </h5>
      </swiper-slide>
      }
    </swiper-container>
    <!-- Custom Navigation Buttons -->
    <div class="custom-prev" (click)="swiperEl.swiper.slidePrev()">
      <i class="fa-solid fa-arrow-left-long"></i>
    </div>
    <div class="custom-next" (click)="swiperEl.swiper.slideNext()">
      <i class="fa-solid fa-arrow-right-long"></i>
    </div>
  </div>
</section>
<!-- Bookle Top Books Section -->
<section class="top-books p-3">
  <!-- Head Section -->
  <div class="d-flex justify-content-between">
    <h2 class="fs-1 fw-bold">Bookle Top Books</h2>
    <a
      routerLink="/shop"
      (click)="scrollToTop()"
      class="explore-btn btn rounded-5 me-2"
      >Explore More <i class="fa-solid fa-arrow-right-long ms-2"></i
    ></a>
  </div>
  <div class="row mt-5">
    @for (book of books| slice:4:8; track book.id) {
    <!-- Book -->
    <div class="book col-12 col-md-6 col-lg-3 p-3 mb-3">
      <!-- Image -->
      <figure
        class="text-center rounded-3 bg-body-secondary position-relative p-4 mx-auto"
      >
        <img
          style="height: 200px"
          [src]="book.volumeInfo.imageLinks.smallThumbnail"
          [alt]="book.volumeInfo.title"
        />
        <!-- Icons -->
        <div class="icons-shop position-absolute">
          <i
            class="fa-regular fa-heart"
            title="Add To Wishlist"
            [id]="book.id"
            (click)="addOrRemoveToWishlist(book.id)"
          ></i>
          <a routerLink="/cart" class="text-black text-decoration-none">
            <i class="fa-solid fa-shuffle"></i>
          </a>
          <i class="fa-regular fa-eye" (click)="navigateToBook(book.id)"></i>
        </div>
      </figure>
      <!-- Content -->
      <div class="content">
        <p class="text-black-50 fw-medium mb-2">
          {{ book.volumeInfo.categories }}
        </p>
        <h5
          class="book-title fw-bold"
          (click)="navigateToBook(book.id)"
          style="color: var(--blue)"
        >
          {{ book.volumeInfo.title | slice : 0 : 24 }}
        </h5>
        <!-- Price -->
        <p style="color: var(--orange); font-size: 14px" class="fw-bold">
          {{
            book.saleInfo.listPrice.amount | currency : "EGP" : "symbol-narrow"
          }}
        </p>
        <div class="d-flex justify-content-between">
          <!-- Author -->
          <figure class="author w-fit">
            <img
              src="../../assets/images/publisher-placeholder.jpg"
              alt="Author"
              class="publisher-img rounded-circle me-2"
            />
            @if ( book.volumeInfo.authors) {
            <span>{{ checkTextLength(book.volumeInfo.authors[0]) }}</span>
            } @else {
            <span>Basem Sameh</span>
            }
          </figure>
          <div class="ms-auto w-fit" style="color: var(--orange)">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
          </div>
        </div>
        <button class="btn add-cart-btn w-100">
          <i class="fa-solid fa-basket-shopping"></i> Add To Cart
        </button>
      </div>
    </div>
    }
    <!-- Shop Now -->
    <article class="col-12 col-md-6 col-lg-3 p-3">
      <div
        class="text-white rounded-3 p-4"
        style="background-color: var(--main-color)"
      >
        <h3 class="fw-bold fs-2">Find Your Nest Books!</h3>
        <p class="my-4 fw-medium">And get your 25% discount now!</p>
        <a
          routerLink="/shop"
          (click)="scrollToTop()"
          class="btn shopNow-btn rounded-5 fw-bold text-decoration-none bg-white"
          >Shop Now <i class="fa-solid fa-arrow-right-long ms-2"></i
        ></a>
      </div>
    </article>
  </div>
</section>
<!-- Get Discount Section -->
<section class="discount">
  <app-discount-section></app-discount-section>
</section>
<!-- Top Rating Books Section -->
<section class="top-rating">
  <!-- Container -->
  <div class="container-fluid bg-white rounded-3 p-4">
    <!-- Title Section -->
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="fw-bold">Top Rating Books</h3>
      <a
        routerLink="/shop"
        (click)="scrollToTop()"
        class="explore-btn btn rounded-5 me-2"
        >View More <i class="fa-solid fa-arrow-right-long ms-2"></i
      ></a>
    </div>
    <!-- Rates -->
    <div class="row">
      @for (book of books.slice(8, 14); track book.id) {
      <!-- Rate -->
      <article class="rate col-12 p-4">
        <div class="row border p-4 rounded-4 align-items-center">
          <!-- Image -->
          <figure class="col-12 col-md-3 rounded-3 mb-md-0 py-3">
            <img
              [src]="book.volumeInfo.imageLinks.smallThumbnail"
              [alt]="book.volumeInfo.title"
            />
          </figure>
          <!-- Contant -->
          <div class="content col-12 col-md-9 p-0 ps-md-3">
            <!-- Category, title and icons like whishlist -->
            <div class="row align-items-center">
              <!-- Info include category and title of book -->
              <div class="info col-12 col-md-8">
                <!-- Category -->
                <p class="text-black-50 fw-medium mb-2">
                  {{ book.volumeInfo.categories }}
                </p>
                <!-- Title -->
                <h5
                  class="book-title fw-bold"
                  (click)="navigateToBook(book.id)"
                  style="color: var(--blue)"
                >
                  {{ book.volumeInfo.title | slice : 0 : 24 }}
                </h5>
              </div>
              <!-- Icons -->
              <div class="icons-shop col-12 col-md-4 mt-3 mt-md-0">
                <i
                  class="fa-regular fa-heart"
                  title="Add To Wishlist"
                  [id]="book.id"
                  (click)="addOrRemoveToWishlist(book.id)"
                ></i>
                <a routerLink="/cart" class="text-black text-decoration-none">
                  <i class="fa-solid fa-shuffle"></i>
                </a>
                <i
                  class="fa-regular fa-eye"
                  (click)="navigateToBook(book.id)"
                ></i>
              </div>
            </div>
            <!-- Price -->
            <p style="color: var(--main-color)" class="fw-bold mt-1">
              {{
                book.saleInfo.listPrice.amount
                  | currency : "EGP" : "symbol-narrow"
              }}
            </p>
            <!-- Author -->
            <figure class="author w-fit bg-white mb-2">
              <img
                src="../../assets/images/publisher-placeholder.jpg"
                alt="Author"
                class="publisher-img rounded-circle me-2"
              />
              @if ( book.volumeInfo.authors) {
              <span>{{ checkTextLength(book.volumeInfo.authors[0]) }}</span>
              } @else {
              <span>Basem Sameh</span>
              }
            </figure>
            <!-- Stars and Add to cart button -->
            <div
              class="d-flex flex-wrap justify-content-between align-items-center"
            >
              <!-- Stars -->
              <div
                class="mb-3 mb-md-0 col-12 col-md-7"
                style="color: var(--orange)"
              >
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star mx-1"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star mx-1"></i>
                <i class="fa-regular fa-star"></i>
              </div>
              <button
                class="btn add-cart-btn col-12 col-md-5"
                (click)="navigateToBook(book.id)"
              >
                <i class="fa-solid fa-basket-shopping"></i> Add To Cart
              </button>
            </div>
          </div>
        </div>
      </article>
      }
    </div>
  </div>
</section>
<!-- Top Selling Books Section -->
<section class="shop-sec p-3">
  <app-top-selling></app-top-selling>
</section>
<!-- What our client say Section -->
<section class="what-clients-say p-3">
  <!-- Head Section -->
  <h2 class="fs-1 fw-bold mb-0">What our client say</h2>
  <!-- Body Section -->
  <div class="mt-5">
    <app-client-say></app-client-say>
  </div>
</section>
<!-- Featured Author Section -->
<section>
  <app-featured-author></app-featured-author>
</section>
<!-- Our Latest News Section -->
<section class="latest-news overflow-hidden mb-0">
  <!-- Head of Section -->
  <article class="text-center">
    <h2 class="fw-bold fs-1">Our Latest News</h2>
    <p
      style="max-width: 500px; line-height: 28px; color: var(--blue)"
      class="mx-auto"
    >
      Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec at
      nulla nulla. Duis posuere ex lacus
    </p>
  </article>
  <!-- Body of Section -->
  <article class="row mt-4">
    @for (blog of blogs | slice:4:8; track blog.id) {
    <!-- News -->
    <div class="col-12 col-md-6 col-lg-3 p-3 mb-3">
      <div class="news bg-white shadow rounded-3 p-3">
        <!-- Image -->
        <figure class="position-relative overflow-hidden">
          <img
            src="../../assets/images/blogs-page/0{{ blog.id }}.jfif"
            alt="Blog"
            class="w-100 rounded-3"
          />
          <!-- Activities word -->
          <span class="activities position-absolute">{{ blog.category }}</span>
        </figure>
        <!-- Content -->
        <div class="content mt-4 px-1">
          <!-- Date and Admin -->
          <div class="row">
            <!-- Date -->
            <div class="col-6">
              <i
                class="fa-solid fa-calendar-days me-1"
                style="color: var(--main-color)"
              ></i>
              {{ blog.publishedDate | date }}
            </div>
            <!-- Admin -->
            <div class="col-6 text-end">
              <i
                class="fa-regular fa-user me-1"
                style="color: var(--main-color)"
              ></i>
              {{ blog.author }}
            </div>
          </div>
          <h5 class="news-title my-3 fw-bold" (click)="navigateToBlog(blog.id)">
            {{ blog.title }}
          </h5>
          <a
            (click)="navigateToBlog(blog.id)"
            class="text-black text-decoration-none"
            >Read More
            <i class="fa-solid fa-arrow-right-long ms-1"></i>
          </a>
        </div>
      </div>
    </div>
    }
  </article>
</section>